@use '../../../../styles/variables' as *;

.sessionHeader {
  background: rgba(24, 24, 27, 0.8);
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(39, 39, 42, 1);
  font-family: $font-mono;
  text-transform: uppercase;
  font-size: 0.625em;
  color: $color-text-muted;
}

.sessionLeft {
  display: flex;
  gap: 0.75em;
  font-weight: 700;
  color: $color-text-primary;
  font-size: 0.75em;
}

.sessionRight {
  display: flex;
  gap: 0.75em;
  align-items: center;
}

.sessionDriverCount {
  display: flex;
  align-items: center;
  gap: 0.125em;
  color: $color-text-primary;
  margin-right: 0.25em;
}

.sessionDriverCountValue {
  color: $color-text-primary;
  font-weight: 700;
}

.sofValue {
  color: rgba(234, 179, 8, 0.8);
}
