.dataGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background: rgba(255, 255, 255, $opacity-faint);
  border-top: 1px solid rgba(255, 255, 255, $opacity-subtle);
  margin-bottom: 1px;
}

.valueSafe {
  color: $widget-status-positive;
}
