.flagLabel {
  font-family: $font-mono;
  font-size: ws(10);
  font-weight: 800;
  letter-spacing: 1px;
}

.flagGreen {
  color: $widget-status-positive;
}

.flagFinal {
  color: $widget-status-warning;
}

.flagCheckered {
  color: #ffffff;
}
