.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ws(8) ws(8) ws(2);
}

.sessionLabel {
  font-family: $font-mono;
  font-size: ws(10);
  color: $widget-text-secondary;
  letter-spacing: 1px;
}
