.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: sp(sm) sp(sm) sp(xxxs);
}

.sessionLabel {
  font-family: $font-mono;
  font-size: fs(xxxs);
  color: $widget-text-secondary;
  letter-spacing: 1px;
}
