.label {
  font-family: $font-widget;
  font-size: ws(10);
  font-weight: 600;
  color: $widget-text-secondary;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.2;
}

.mono {
  font-family: $font-mono;
}

.noUppercase {
  text-transform: none;
}
