.suspensionAndBrakesRow {
  display: flex;
  align-items: baseline;
  gap: ws(3);
  justify-content: flex-start;
}

.suspensionAndBrakesValue {
  font-size: ws(13);
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

.suspensionAndBrakesUnit {
  font-size: ws(10);
  font-weight: 600;
  opacity: 0.8;
  flex-shrink: 0;
}
