@use '../../../../styles/variables' as *;

.barsHorizontal {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  width: 100%;
  flex-shrink: 0;
}

.barsVertical {
  display: flex;
  flex-direction: row;
  gap: $space-sm;
  flex-shrink: 0;
  height: 100%;
}
