.carGrid {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: sp(xl) sp(sm);
  justify-content: center;
  align-items: center;
  padding: sp(xxs) sp(sm) 0;
}

.carGridSuspensionAndBrakes {
  grid-template-columns: max-content 1fr max-content;
}
