.wearValue {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: ws(14);
  font-weight: 700;
  color: $color-text-muted;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.03em;
}

.wearUnit {
  font-size: ws(12);
  margin-left: ws(1);
  font-weight: 600;
}
