@use '../../../../styles/variables' as *;

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: $color-border;
}

.spacing-sm {
  margin: $space-sm 0;
}

.spacing-md {
  margin: $space-md 0;
}

.spacing-lg {
  margin: $space-lg 0;
}
