.gridCell {
  display: flex;
  flex-direction: column;
  padding: sp(sm) sp(md);
  background: $widget-surface-overlay;
}

.cellLabel {
  font-size: fs(xxxs);
  margin-bottom: sp(xxxs);
}

.cellValue {
  font-family: $font-mono;
  font-size: fs(md);
}

.cellUnit {
  font-size: fs(xxs);
  margin-left: sp(xxs);
}
