.header {
  display: flex;
  justify-content: space-between;
  padding: sp(sm) sp(md) sp(xxs);
  align-items: baseline;
}

.headerLabel {
  letter-spacing: 1.5px;
}

.headerAmount {
  font-family: $font-mono;
  font-size: fs(lg);
  font-weight: 700;
  color: $widget-text-primary;
}

.headerUnit {
  font-size: fs(xs);
  color: $widget-text-primary;
  margin-left: sp(xs);
}
