.headerRow {
  display: grid;
  align-items: center;
  column-gap: ws(2);
  padding: ws(5) ws(10);
  background: rgb(24, 24, 27);
  border-bottom: 1px solid rgba(39, 39, 42, 0.5);
  position: sticky;
  top: 0;
  z-index: 2;
}
