.th {
  font-family: $font-mono;
  text-transform: uppercase;
  font-size: ws(10.5);
  letter-spacing: 0.06em;
  color: $widget-text-secondary;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.thCenter {
  text-align: center;
  justify-self: center;
}

.thRight {
  text-align: right;
  justify-self: end;
}
