.singleLed {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 6px;
  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px #222;
  background-color: #030304;
  position: relative;
}

.singleLedInner {
  position: absolute;
  inset: 8px;
  border-radius: 4px;
  background-color: #16161a;
}

.colorGreen {
  background-color: #22ff00;
  box-shadow:
    0 0 4px #22ff00,
    0 0 8px #22ff00;
}

.colorYellow {
  background-color: #ffe600;
  box-shadow:
    0 0 4px #ffe600,
    0 0 8px #ffe600;
}

.colorRed {
  background-color: #ff0a33;
  box-shadow:
    0 0 4px #ff0a33,
    0 0 8px #ff0a33;
}

.colorBlue {
  background-color: #33aaff;
  box-shadow:
    0 0 4px #33aaff,
    0 0 8px #33aaff;
}

.colorWhite {
  background-color: #ffffff;
  box-shadow:
    0 0 4px #ffffff,
    0 0 8px rgba(255, 255, 255, 0.6);
}

.colorOrange {
  background-color: #ff5500;
  box-shadow:
    0 0 4px #ff5500,
    0 0 8px #ff5500;
}
