@use 'sass:list';
@use '../../../../styles/variables' as *;

.svgContainer {
  width: 100%;
  height: 100%;
  overflow: visible;
  padding: rem(15);
}

.sectorArc {
  pointer-events: none;
  opacity: 0.8;
  @for $i from 0 through 5 {
    &[data-index='#{$i}'] {
      stroke: list.nth($sector-colors, $i + 1);
    }
  }
}

.sectorArrow {
  opacity: 0.9;
  @for $i from 0 through 5 {
    &[data-index='#{$i}'] {
      color: list.nth($sector-colors, $i + 1);
    }
  }
}

.sfLabel {
  font-family: $font-widget;
  font-size: rem(20);
  font-weight: 700;
  fill: white;
  letter-spacing: 0.05em;
  opacity: 0.85;
}
