.root {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.saveRow {
  display: flex;
  gap: rem(8);
}

.nameInput {
  flex: 1;
}

.selectRow {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.select {
  flex: 1;
}

.renameInput {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: rem(2);
  flex-shrink: 0;
}
