// Separator row
.separatorRow {
  background: rgba(24, 24, 27, 0.4);
}

.separatorInner {
  padding: 0.5em;
  position: relative;
}

.separatorLine {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.separatorLineInner {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, white, transparent);
}

.separatorDots {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(113, 113, 122, 1);
  position: relative;
  z-index: 10;
}
