@use '../../../styles/variables' as *;

.rowListVertical {
  display: flex;
  flex-direction: column;
  gap: rem(2);
  padding: $space-sm $space-sm $space-md;
}

.rowListHorizontal {
  display: flex;
  flex-direction: row;
  gap: rem(4);
  padding: $space-sm;
  flex: 1 1 0;
}
