.svgContainer {
  width: 100%;
  height: 100%;
  overflow: visible;
  padding: ws(15);
}

.sectorArc {
  pointer-events: none;
  opacity: 0.8;
}

.sfLabel {
  font-family: $font-widget;
  font-size: ws(20);
  font-weight: 700;
  fill: white;
  letter-spacing: 0.05em;
  opacity: 0.85;
}
