@use '../../../../styles/variables' as *;

.gearContainer {
  position: relative;
  @include flex-center;
  flex: 0 0 auto;
  height: 100%;
  aspect-ratio: 1;
  z-index: 1;
  overflow: visible;
}

.gearSvg {
  position: absolute;
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
  overflow: visible;
}

.circleBg {
  fill: none;
  color: rgba(255, 255, 255, 0.05);
  stroke-width: 6;
}

.circleProgress {
  fill: none;
  stroke-width: 11;
  stroke-linecap: round;
  transition:
    stroke-dashoffset 0.05s linear,
    stroke 0.2s ease;
}

.gearValue {
  font-size: $font-size-2xl;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  font-variant-numeric: tabular-nums;
  letter-spacing: -1px;
  text-align: center;
}

@keyframes limit-blink {
  0%,
  49.9% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.blinkAlert {
  animation: limit-blink 0.12s infinite !important;
  transition: none !important;
}
