@use '../../../styles/variables' as *;

.carGrid {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: rem(16) rem(8);
  justify-content: center;
  align-items: center;
  padding: $space-sm rem(8) 0;
}

.carGridWithInboard {
  grid-template-columns: max-content auto max-content;
}

.centerLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(6);
}

.centerLabel {
  font-size: rem(9);
  color: #64748b;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: $font-size-widget;
}
