@use '../../../../styles/variables' as *;

.container {
  display: flex;
  gap: $space-xs;
}

.stacked {
  flex-direction: column;
}

.inline {
  flex-direction: row;
  align-items: baseline;
  gap: $space-md;
}

.label {
  color: $color-text-muted;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.label-xs {
  font-size: $font-size-xs;
}

.label-sm {
  font-size: $font-size-sm;
}

.value {
  font-weight: bold;
  line-height: 1;
  color: $color-text-primary;
}

.size-sm {
  font-size: $font-size-sm;
}

.size-md {
  font-size: $font-size-md;
}

.size-lg {
  font-size: $font-size-lg;
}

.size-xl {
  font-size: $font-size-xl;
}

.size-2xl {
  font-size: $font-size-2xl;
}

.size-3xl {
  font-size: $font-size-3xl;
}

.unit {
  font-size: $font-size-sm;
  color: $color-text-muted;
}
