.sectorListVertical {
  display: flex;
  flex-direction: column;
  gap: ws(2);
  padding: 0 ws(4) ws(8);
}

.sectorListHorizontal {
  display: flex;
  flex-direction: row;
  gap: ws(4);
  flex: 1 1 0;
  min-width: 0;
  height: 100%;
}
