.root {
  font-variant-numeric: tabular-nums;
  font-weight: 900;
  color: $widget-text-primary;
}

.unit {
  font-size: 0.8em;
  margin-left: 0.12em;
  font-weight: 600;
  opacity: 0.75;
  flex-shrink: 0;
}
