.layout {
  min-height: 100vh;
}

.sider {
  border-right: 1px solid #303030;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.content {
  padding: 16px;
  overflow: auto;
}
