.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ws(2) ws(8) ws(8);
}

.footerItem {
  font-family: $font-mono;
  font-size: ws(12);
  font-weight: 600;
  color: $color-text-muted;
  letter-spacing: 1px;
}
