.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ws(4) ws(8) ws(8);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: ws(2);
}

.footerItem {
  font-family: $font-mono;
  font-size: ws(12);
  font-weight: 900;
  color: $widget-text-primary;
  letter-spacing: 1px;
}
