.root {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainDisplay {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0 rem(14) rem(14);
  gap: 0;
}

.leftBlock {
  width: rem(58);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 60%;
  padding-right: rem(4);
}

.rightBlock {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  align-items: center;
  padding-left: rem(14);
}

.rightInner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
